.nolink {
    text-decoration: none !important;
    color: white;
}

.nolink:hover {
    text-decoration: none !important;
    color: white;
}

.nolink:visited {
    text-decoration: none Im !important;
    color: white;
}